NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://stocksense:stocksense@localhost:5432/stocksense?schema=public
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=stocksense_jwt_secret_dev_key_min_32_characters_long_123
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=stocksense-storage
